[Unit]
Description=Archivista

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/bash -lc /usr/bin/archivista.sh

[Install]
WantedBy=multi-user.target

